html{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    /* padding-top: 70px; */
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.full-height {
    height: 100%;
}
.device-height {
    min-height: 100vh;
}
.head-bar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    cursor: pointer;
}
img[id^="responsive"]:hover, #responsive-desktop, .close:hover{
    background-color: lightblue;
}
.menu-bar > a{
    text-decoration: none;
    color: black;
    list-style: none;
}
.menu-bar{
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    font-size: 1.15rem;
}
.menu, .menu-bar a:hover{
    color: gold;
}
.menu-bar a{
    padding-top: 15px;
}

.contact {
    background-image: url("https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/6f08fcd379775a96a7ab7ce6/positive-business-woman-posing-camera-outdoors.jpg");
    height: 80vh;
    background-size: cover;
    background-position: top center;
}

.contact-two{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 40px;
}
.input-wrapper{
    flex: 1;
    text-align: center;
}
.input-wrapper input, .input-wrapper button{
    padding: 15px;
    width: 100%;
}
.input-wrapper input{
    border: none;
}
.contact-two h2{
    font-weight: 700;
}
.contact-two p a{
    color: gold;
    text-decoration: none;
}
.contact-two button{
    background-color: rgb(9, 172, 9);
    font-weight: 400;
    width: 220px;
    border: none;
}
.contact-two button a{
    color: white; 
    text-decoration: none;
    font-weight: bold;
}
.services-section{
    background-image: url("https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/e39b53000c675b9abef6df35/top-view-person-writing-laptop-with-copy-space.jpg");
    background-size: cover;
    background-position: top center;
}

div.box{ 
    text-align: center;
    border: 1px solid lightgray;
   background-color: white;
   padding: 20px 60px;
}
.svg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: goldenrod;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}
.text{
   font-weight: 600;
    font-size: 1.2rem;
}
.box-white:nth-child(n):nth-last-child(n){
    background-color: #43c374;
    
}
.box-white{
    color: white;
}
.freepik1{
    color: rgb(11, 202, 11)
}
.free{
    text-align: center;
}
.division1{
    padding: 150px;
    display: flex;
    justify-content: space-around;
}
.bold{
    font-weight: bold;
    line-height: 40px;
}
.x-space {
    margin: 0 3rem;
}
.flexx{
    display: flex;
    margin: 30px;
}
.flexx p{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px;
}
.flexx span img{
    width: 60px;
    height: 60px;
}
.division2{
    padding: 50px;
    text-align: center;
}
.division2 h1{
    font-weight: bold;
    line-height: 40px;
}
.grid{
    text-align: center;
}
.grid h1{
    margin-bottom: 100px;
    font-weight: bold;
}
.onegrid, .twogrid, .threegrid{
    border: 1px solid lightgray;
    padding: 35px;
    height: 300px;
}
.onegrid, .threegrid{
    color: white;
}
.onegrid .p, .twogrid .p, .threegrid .p{
   font-size: 5rem;
   font-weight: bolder;
}
.onegrid{
    background-color: rgb(24, 186, 24);
}
.twogrid{
    background-color: whitesmoke;
}
.threegrid{
    background-color: #f1a40e;
}
.part{
    line-height: 25px;
    font-size: 17px;
}
.part h1{
   font-weight: bolder;
}
.part .pp{
    color: rgb(180, 173, 173);
}
.link{
    color: goldenrod;
}
.links{
    color: rgb(23, 142, 23);
    width: 40px;
    height: 40px;
}
.span{
    font-weight: bolder;
    font-size: 2rem;
    color: black;
    text-decoration-line: none;
}
.span:hover{
    color: rgb(23, 142, 23);
}
.parts{
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
}
.division3{
    background-color: rgb(32, 171, 32);
    color: white;
    text-align: center;
    padding: 40px;
}
.one{
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.two{
    font-size: 2.5rem;
    font-weight: bolder;
}
.division3 button{
    width: 200px;
    height: 50px;
    background-color: #f1a40e;
    border: 1px solid #f1a40e;
    margin-top: 10px;
}
.division3 button a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.division4{
    background-color: whitesmoke;
    text-align: center;
    padding-top: 40vh;
}
.div2{
    font-size: 1.2rem;
    line-height: 35px;
}
.div3{
    font-size: 1.3rem;
    font-weight: bolder;
    padding-top: 10px;
}
.div{
   color: rgb(11, 202, 11);
}
section {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
.team{
    font-size: 2.5rem;
    font-weight: bolder;
}
.image-from{
    font-size: 1rem;
}
.buttons{
    background-color: rgb(11, 180, 11);
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 1px solid rgb(11, 180, 11); 
}
.read{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.client{
    color: white;
    background-color: #f1a40e;
    text-align: center;
    padding: 0 120px;
}
.client div h1{
    font-weight: bolder;
}
.clients{
    padding: 50px 0;
}
.image-flex{
    display: flex;
    justify-content: space-around;
}
.last{
    background-image: url("https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/32037b0791a95987aececbcd/female-work-brainstorming.jpg");
    background-color: whitesmoke;
    height: 80vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.inside-last{
    width: 60%;
    border: 1px solid white;
    background-color: white;
    text-align: center;
    
}
.contacts{
    background-color: #f1a40e;
    width: 150px;
    padding: 10px;
    border: 1px solid #f1a40e;
    margin: 30px;
} 
.contacts a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.details{
    font-size: 1.3rem;
    font-weight: bolder;
}  
.footer{
    background-color: rgb(49, 48, 48);
    color: white;
    text-align: center;
}
.first{
    padding: 50px;
}
.second{
    padding-bottom: 50px;
}
.second a{
    color: rgb(111, 184, 111);
}
.image1{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position:  center;
    border-radius: 50%;
}

.reveal-effect{
    visibility: hidden;
}
.reveal-effect-active{
    visibility: visible;
    animation: zoompic .7s linear;
}
@keyframes zoompic{
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    50% {
        transform: scale(0.5, 0.5);
        opacity: 0.3;
    }
    100%{
        transform: scale(1, 1); 
        opacity: 1;
    } 
}

.icon{
    width: 100%;
    display: block;
    height: 50px;
    padding: 50px;
    
}    
.side-icon{
    width: 25%;
    
}
    



/* MOBILE CSS */
.mobile-menu {
    width: 100%;
    background-color: rgba(74, 69, 69, 0.5);
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    visibility: hidden;
}

.mobile-menu.active {
    animation: 0.5s reveal;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-in;
    /* transition: transform ease-in; */
    /* transform: translateX(12rem); */
}

@keyframes reveal {
    from{
     visibility: hidden;
     width: 0%;
    }
    to {
      visibility: visible;
      width: 100%;
    }
}
.mobile-menu.non-active {
    animation: 0.5s non-reveal;
    animation-fill-mode: forwards;
    animation-direction: backwards;
    animation-timing-function: ease-in;
    /* transition: transform ease-in; */
    /* transform: translateX(12rem); */
}

@keyframes non-reveal {
    from{
     visibility: visible;
     width: 100%;
    }
    to {
      visibility: hidden;
      width: 0%;
    }
  }


  

.menubar{
    width: 75%;
    background-color: black;
    height: 100%;
    position: relative;
    padding-right: 10px;
}
#closeBtn{
    /* padding: 15px; */
    color: white;
    font-size: 45px;  
}
.menu-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-item{
    color: white;
    padding: 5px 0;
}
