*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: gray;
    width: 100%;
    height: 100vh;
}
.wrapper{
    width: 350px;
    height: 100%;
    background: linear-gradient(midnightblue 0%, black 90%);
}
.header-logo, .header-text, .body-logo, .body-text{
    color: white;
}
.header{
    height: 10vh;
    background: linear-gradient(black 0%, rgb(61, 60, 60) 40%, gray 80%);
    font-size: 1.5rem;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
}
.body-list{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 5px;
}
.body-list:hover{
    background-color: dodgerblue;
}
@media screen and (max-width: 680px) {
    .header-text, .body-text{
        display: none;
    }
    .wrapper{
        width: 68px;
    }
}
